@charset "UTF-8";
body {
    background-color: rgb(183, 245, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }
h1 {
    color: blue;
    background-color: rgb(30, 185, 133);
    }
    h2 {
    color: blueviolet;
    }
    p {
    text-align: justify;
    }
